{{ define "layout" }}
<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.4.1/dist/tailwind.min.css" rel="stylesheet"> -->
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="h-full">
<div>
    {{ template "sidebar" . }}
    <div class="lg:pl-72">
        {{ template "topbar" . }}

        <!-- Main content area -->
        <main class="py-10">
            <div class="px-4 sm:px-6 lg:px-8">
                {{ template "content" . }}
            </div>
        </main>
    </div>
</div>
</body>
</html>
{{ end }}